The goal of the project is to improve the customer service for a cab company in Bangalore. Company may cancel the reservation due to unavailability of cars which may cause inconvenience to passengers.

The aim of the model is to predict whether new bookings will be cancelled due to car unavailability.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
train = pd.read_csv("./data/Kaggle_YourCabs_training.csv")

id - booking ID

user_id - the ID of the customer (based on mobile number)

vehicle_model_id - vehicle model type.

package_id - type of package (1=4hrs & 40kms, 2=8hrs & 80kms, 3=6hrs & 60kms, 4= 10hrs & 100kms, 5=5hrs & 50kms, 6=3hrs & 30kms, 7=12hrs & 120kms)

travel_type_id - type of travel (1=long distance, 2= point to point, 3= hourly rental).

from_area_id - unique identifier of area. Applicable only for point-to-point travel and packages

to_area_id - unique identifier of area. Applicable only for point-to-point travel

from_city_id - unique identifier of city

to_city_id - unique identifier of city (only for intercity)

from_date - time stamp of requested trip start

to_date - time stamp of trip end

online_booking - if booking was done on desktop website

mobile_site_booking - if booking was done on mobile website

booking_created - time stamp of booking

from_lat - latitude of from area

from_long - longitude of from area

to_lat - latitude of to area

to_long - longitude of to area

Car_Cancellation (available only in training data) - whether the booking was cancelled (1) or not (0) due to unavailability of a car.

Cost_of_error (available only in training data) - the cost incurred if the booking is misclassified. The cost of misclassifying an uncancelled booking as a cancelled booking (cost=1 unit). The cost associated with misclassifying a cancelled booking as uncancelled, This cost is a function of how close the cancellation occurs relative to the trip start time. The closer the trip, the higher the cost. Cancellations occurring less than 15 minutes prior to the trip start incur a fixed penalty of 100 units.

In [4]:
train.head()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation,Cost_of_error
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0,1.0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0,1.0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0,1.0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0,1.0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0,1.0

In [5]:
train.describe()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,to_date,online_booking,mobile_site_booking,from_lat,from_long,to_lat,to_long,Car_Cancellation,Cost_of_error
count,43431.000000,43431.000000,43431.00000,7550.000000,43431.000000,43343.000000,34293.000000,16345.000000,1588.000000,25541.000000,43431.000000,43431.000000,43338.000000,43338.000000,34293.000000,34293.000000,43431.000000,43431.000000
mean,159206.473556,30739.198153,25.71723,2.030066,2.137252,714.544494,669.490917,14.915081,68.537783,41507.974840,0.351592,0.043241,12.982461,77.636255,13.026648,77.640595,0.072114,8.000509
std,15442.386279,10996.476709,26.79825,1.461756,0.437712,419.883553,400.638225,1.165306,49.880732,305.144945,0.477473,0.203402,0.085933,0.059391,0.113487,0.064045,0.258680,25.350698
min,132512.000000,16.000000,1.00000,1.000000,1.000000,2.000000,2.000000,1.000000,4.000000,25569.020830,0.000000,0.000000,12.776630,77.386930,12.776630,77.386930,0.000000,0.150000
25%,145778.000000,24614.000000,12.00000,1.000000,2.000000,393.000000,393.000000,15.000000,32.000000,41480.521110,0.000000,0.000000,12.926450,77.593661,12.951850,77.582030,0.000000,1.000000
50%,159248.000000,31627.000000,12.00000,2.000000,2.000000,590.000000,541.000000,15.000000,49.000000,41517.761550,0.000000,0.000000,12.968887,77.635750,12.982750,77.645030,0.000000,1.000000
75%,172578.500000,39167.000000,24.00000,2.000000,2.000000,1089.000000,1054.000000,15.000000,108.000000,41558.914630,1.000000,0.000000,13.007750,77.688900,13.199560,77.706880,0.000000,1.000000
max,185941.000000,48730.000000,91.00000,7.000000,3.000000,1403.000000,1403.000000,31.000000,203.000000,41678.275680,1.000000,1.000000,13.366072,77.786420,13.366072,77.786420,1.000000,100.000000

In [6]:
# As you can see some of the columns are null. Find out which columns have null values
train.isnull().any(axis=0)

id                     False
user_id                False
vehicle_model_id       False
package_id              True
travel_type_id         False
from_area_id            True
to_area_id              True
from_city_id            True
to_city_id              True
from_date              False
to_date                 True
online_booking         False
mobile_site_booking    False
booking_created        False
from_lat                True
from_long               True
to_lat                  True
to_long                 True
Car_Cancellation       False
Cost_of_error          False
dtype: bool

In [7]:
# Convert all dates columns to date_time format
train['from_date'] = pd.to_datetime(train['from_date'])
train['to_date'] = pd.to_datetime(train['to_date'])
train['booking_created'] = pd.to_datetime(train['booking_created'])

KeyboardInterrupt:

#Analysis:
Would like to check if cancellations have any correlation to vehicle model, type of package, travel type, destination, booking time and distance between the starting point and destination.

In [ ]:
#Does cancellations correlate with package id (distance booked)?
train['package_id'].hist(by=train['Car_Cancellation'])

#### As you can see cancellations have some correlation to the package id. Package ids 1,2 and 6 show highest cancellations.

###  Finding out which features affect the cancellations.

In [ ]:
by_packageid = train.groupby(['package_id', 'Car_Cancellation']).size().unstack(1)
by_packageid['percent']= by_packageid[1]/(by_packageid[0]+by_packageid[1])*100
by_packageid.sort_values('percent',ascending=False).iloc[:10]# As you can see certain models have high cancellation rates.

In [ ]:
by_vehicleid = train.groupby(['vehicle_model_id', 'Car_Cancellation']).size().unstack(1)
by_vehicleid['percent']= by_vehicleid[1]/(by_vehicleid[0]+by_vehicleid[1])*100
by_vehicleid.sort_values('percent',ascending=False).iloc[:10]# As you can see certain models have high cancellation rates.

In [ ]:
by_traveltypeid = train.groupby(['travel_type_id','Car_Cancellation']).size().unstack(1)
by_traveltypeid['percent']= by_traveltypeid[1]/(by_traveltypeid[0]+by_traveltypeid[1])*100
by_traveltypeid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_packageid = train.groupby(['package_id','Car_Cancellation']).size().unstack(1)
by_packageid['percent']= by_packageid[1]/(by_packageid[0]+by_packageid[1])*100
by_packageid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_fromareaid = train.groupby(['from_area_id','Car_Cancellation']).size().unstack(1)
by_fromareaid['percent']= by_fromareaid[1]/(by_fromareaid[0]+by_fromareaid[1])*100
by_fromareaid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_toareaid = train.groupby(['to_area_id','Car_Cancellation']).size().unstack(1)
by_toareaid['percent']= by_toareaid[1]/(by_toareaid[0]+by_toareaid[1])*100
by_toareaid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_fromcityid = train.groupby(['from_city_id','Car_Cancellation']).size().unstack(1)
by_fromcityid['percent']= by_fromcityid[1]/(by_fromcityid[0]+by_vehicleid[1])*100
by_fromcityid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_tocityid = train.groupby(['to_city_id','Car_Cancellation']).size().unstack(1)
by_tocityid['percent']= by_tocityid[1]/(by_tocityid[0]+by_vehicleid[1])*100
by_tocityid.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_onlinebooking = train.groupby(['online_booking','Car_Cancellation']).size().unstack(1)
by_onlinebooking['percent']= by_onlinebooking[1]/(by_onlinebooking[0]+by_onlinebooking[1])*100
by_onlinebooking.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_mobilesitebooking = train.groupby(['mobile_site_booking','Car_Cancellation']).size().unstack(1)
by_mobilesitebooking['percent']= by_mobilesitebooking[1]/(by_mobilesitebooking[0]+by_mobilesitebooking[1])*100
by_mobilesitebooking.sort_values('percent',ascending=False).iloc[:10]

### Creating custom columns to find out if day and time of the week has any effect

In [ ]:
#Check if day and time of the week has any effect on cancellations and also need to check
#if time between booking and scheduled time has any effect. Assuming closer the booking time
#to schedule time, itmay result in cancellations.

train['dayweek_fromdate'] = train['from_date'].dt.dayofweek
train['duration'] = (train['from_date']-train['booking_created']).astype('timedelta64[h]')

In [ ]:
by_weekday = train.groupby(['dayweek_fromdate','Car_Cancellation']).size().unstack(1)
by_weekday['percent']= by_weekday[1]/(by_weekday[0]+by_weekday[1])*100
by_weekday.sort_values('percent',ascending=False).iloc[:10]

In [ ]:
by_duration = train.groupby(['duration','Car_Cancellation']).size().unstack(1)
by_duration['percent']= by_duration[1]/(by_duration[0]+by_duration[1])*100
by_duration.sort_index(ascending=True).iloc[:20]

#### As seen above the day of the week  or duration doesnt really tell much.

In [ ]:
by_duration_plt=by_duration.dropna(axis=0)
plt.scatter(by_duration_plt.index,by_duration_plt['percent'],linestyle='dashed')

In [ ]:
from_to = train.groupby(['from_area_id','to_area_id','Car_Cancellation']).size().unstack(2)
from_to['percent']= from_to[1]/(from_to[0]+from_to[1])*100
from_to.sort_values('percent',ascending=False).iloc[:10]

#### As we can see there are some very heavy cancellations between certain routes

### From the above analysis we can see that the following features may be useful for building our model. 

- vehicle_model_id
- package_id
- travel_type_id
- from_area_id
- to_area_id
- online_booking
- mobile_site_booking
- duration (custom column)
- dayweek_fromdate (custom column)

In [ ]:
train.columns

In [ ]:
features = ['vehicle_model_id','travel_type_id','from_area_id','to_area_id',
            'online_booking','mobile_site_booking','dayweek_fromdate', u'duration']
X = train[features]
y = train['Car_Cancellation']
X.isnull().sum(axis=0)

In [ ]:
#X['package_id'].fillna(-9999,inplace=True)
X['from_area_id'].fillna(-9999,inplace=True)
X['to_area_id'].fillna(-9999,inplace=True)

In [ ]:
X.isnull().sum(axis=0)

In [ ]:
X.shape
y.shape

## We will use multiple algorithms to classify and predict car cancellations

- Logistic regression
- Neural networks
- Support Vector Machine
- K Nearest neighbors
- Gradient Boosting

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.feature_selection import RFECV

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier, GradientBoostingClassifier, RandomForestClassifier


from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils

In [ ]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3, random_state=1)
print("Xtrain shape", Xtrain.shape)
print("Xtest shape", Xtest.shape)
print("ytrain shape", ytrain.shape)
print("ytest shape", ytest.shape)

### Testing different algorithms

In [ ]:
lr = LogisticRegression(C=10)
etr = ExtraTreesClassifier(n_estimators=75)
knn = KNeighborsClassifier(weights='distance', n_neighbors=10)
gbc = GradientBoostingClassifier(subsample=0.8, learning_rate=0.05 , n_estimators=160, random_state=5, max_depth=9, max_leaf_nodes=100)
rf = RandomForestClassifier(n_estimators=50)
svc = SVC()

In [ ]:
#cv_scores_lr = cross_val_score(lr,Xtrain,ytrain,scoring='roc_auc', cv=10)
cv_scores_gbc = cross_val_score(gbc,Xtrain,ytrain,scoring='roc_auc', cv=10)
#cv_scores_knn = cross_val_score(knn,Xtrain,ytrain,scoring='roc_auc', cv=10)
#cv_scores_rf = cross_val_score(rf,Xtrain,ytrain,scoring='roc_auc', cv=10)
#cv_scores_etr = cross_val_score(etr,Xtrain,ytrain,scoring='roc_auc', cv=10)
#cv_scores_svc = cross_val_score(svc,Xtrain,ytrain,scoring='roc_auc', cv=10)

In [ ]:
#print("Mean score using Log regression", cv_scores_lr.mean())
print("Mean score using gradient Boost", cv_scores_gbc.mean())
#print("Mean score using KnearestNeighbors", cv_scores_knn.mean())
#print("Mean score using random forests", cv_scores_rf.mean())
#print("Mean score using extratreesclassfier", cv_scores_etr.mean())
#print("Mean score using support vector machine", cv_scores_svc.mean())

### Measuring our model performance on test set

In [ ]:
gbc.fit(Xtest,ytest)

In [ ]:
ypred_gbc =gbc.predict(Xtest)
ypredprob_gbc = gbc.predict_proba(Xtest)
roc_auc_score(ytest,ypred_gbc)

In [ ]:
gbc.fit(X,y)

In [ ]:
pred_data = pd.read_csv('./data/Kaggle_YourCabs_score.csv', index_col='id')